body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
}

h1 {
    font-size: 25px;
    margin-top: 0;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4c6faf;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

#display {
    display: none;
    margin-top: 20px;
    max-width: 35%;
    max-height: 600px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#visitorCount {
    font-size: 14px;
    position: fixed;
    top: 10px;
    left: 10px;
}